.header-inner{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    background-color:rgb(211, 231, 247);
    max-width: 1500px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display:flex;
}

.link{
    display: flex;
}

.main-visual{
    margin-top: 100px;
    height:700px;
    background-image: url(../img/bg-mainvisual.jpg);
    background-size: cover;
    position:relative;
}

.mainvisual-inner{
    position: absolute;
    left: 10%;
    bottom:10%;
    padding: 10px;
}

.mainvisual-head{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainvisual-title{
    color: steelblue;
    font-size: 20px;
    background-color: white;
    margin-bottom: 10px;
    padding:10px;
}

.mainvisual-lead{
    color:rgb(55, 55, 55);
    background-color: white;
    font-size: 40px;
    padding:10px
}

.mainvisual-scroll{
    position:absolute;
    right: 3%;
    bottom:3%;
    color: white;
    font-size: 18px;
}

.mainvisual-scroll::before{
    content:"・"
}

section{
    padding:60px;
}

.title{
    font-size: 40px;
    color:rgb(55,55,55);
}

.subtitle{
    padding-top:20px;
    color:steelblue;
    padding-bottom: 30px;
}

.about-title{
    text-align: center;
}

.about-contents{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}

.about-image{
    background-image: url(/assets/img/img-about.jpg);
    height:400px;
    background-size: cover;
    border-radius: 20px;
}

.about-description{
    display: flex;
    flex-direction:row;
    align-items: center;
    line-height: 25px;
}

.event-title{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.lead-sentences{
    line-height:25px;
}

.event-cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.event-cards li img{
    width:100%;
    height:auto;
    border-radius: 20px;
}

.footer-inner{
    margin-top: 100px;
    max-width: 1200px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items:center;
    justify-content: center;
}