.header-inner{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    background-color:rgb(221, 234, 234);
    max-width: 1500px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display:flex;
}

.link{
    display: flex;
}

main{
    margin-top: 100px;
    height:700px;
    background-image: url(../img/bg-mainvisual.jpg);
    background-size: cover;
    position:relative;
}

.mainvisual-inner{
    position: absolute;
    left: 10%;
    bottom:10%;
    padding: 10px;
}

.mainvisual-head{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainvisual-title{
    color: steelblue;
    font-size: 20px;
    background-color: white;
    margin-bottom: 10px;
    padding:10px;
}

.mainvisual-lead{
    color:black;
    background-color: white;
    font-size: 40px;
    padding:10px
}

.mainvisual-scroll{
    position:absolute;
    right: 3%;
    bottom:3%;
    color: white;
    font-size: 18px;
}

.mainvisual-scroll::before{
    content:"・"
}

.footer-inner{
    margin-top: 100px;
    max-width: 1200px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items:center;
    justify-content: center;
}